node_modules/
vendor/
docs/
dist/
.env

#IDEA
/.idea/workspace.xml
/.idea/jsLinters/jshint.xml
/.idea/.gitignore
/.idea/dataSources.xml

#PLUGIN
/src/vendor/
/src/languages/
/src/assets/js/dist
/src/assets/css
